@mixin dropdown{
    nav{
        ul{
            //display: flex;
            //flex-direction: row;

            li{
                a{
                    &:hover{
                        color: $primaryColor;
                        transition: all .2s ease-in;
                    }

                    text-transform: capitalize;
                    font-weight: 500;
                    color: $secondaryColor;
                    transition: all .2s ease-in;

                    @if($size == true){
                        font-size: 14px;
                    }
                    @else{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@mixin menu($font-size) {
    >ul{
        display: flex;
        justify-content: space-between;
        align-items: center;

        >li{
            a{
                padding: 20px;

                &:last-child{
                    padding-right: 0;
                }

                &.active{
                    color: $primaryColor;
                }

                &:hover{
                    color: $primaryColor;
                    transition: all .2s ease-in;
                }

                text-transform: capitalize;
                font-weight: 500;
                color: $secondaryColor;
                transition: all .2s ease-in;

                @if($font-size == true){
                    font-size: 14px;
                }
                @else{
                    font-size: 16px;
                }
            }

            @include dropdown();
        }
    }
}