* {
  margin: 0;
  padding: 0;
  font-family: "Cabin", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.6;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

html,
body {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  border: none;
  text-decoration: none;
  background: none;
}

button,
input,
textarea {
  border: none;
  background: none;
}

button:focus,
input:focus,
textarea:focus {
  border: none;
  outline: none;
  background: none;
}

*::-moz-selection {
  color: white;
  background: #006eff;
}

*::selection {
  color: white;
  background: #006eff;
}

header {
  background: white;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .logo a {
  padding: 15px;
}

header .container .logo a img {
  width: 100%;
  height: 100%;
}

header .container .main-menu nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .main-menu nav > ul > li {
  position: relative;
  margin-right: 15px;
}

header .container .main-menu nav > ul > li:last-child {
  margin-right: 0;
}

header .container .main-menu nav > ul > li a {
  margin-right: 10px;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 500;
  color: #555555;
}

header .container .main-menu nav > ul > li a:last-child {
  margin-right: 0;
}

header .container .main-menu nav > ul > li a:hover {
  color: #57b1ba;
}

header .container .main-menu nav > ul > li a.active {
  color: #57b1ba;
}

header .container .main-menu nav > ul > li:hover .dropdown-category {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

header .container .main-menu nav > ul > li .dropdown-category {
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-45px, 42px);
          transform: translate(-45px, 42px);
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  -webkit-box-shadow: 0 0 2px 1px rgba(204, 204, 204, 0.4);
          box-shadow: 0 0 2px 1px rgba(204, 204, 204, 0.4);
}

header .container .main-menu nav > ul > li .dropdown-category ul li {
  width: 190px;
  background: white;
}

header .container .main-menu nav > ul > li .dropdown-category ul li a {
  padding: 5px 40px;
  font-size: 14px;
  font-weight: 600;
  color: #555555;
}

header .container .main-menu nav > ul > li .dropdown-category ul li a:hover {
  color: #57b1ba;
}

header .container .icon-menu nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .icon-menu nav > ul > li {
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
  position: relative;
}

header .container .icon-menu nav > ul > li:last-child {
  margin-right: 0;
}

header .container .icon-menu nav > ul > li a.active {
  color: #57b1ba;
}

header .container .icon-menu nav > ul > li a:hover i {
  color: #57b1ba;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

header .container .icon-menu nav > ul > li a i {
  font-size: 18px;
  padding: 20px;
  font-weight: 400;
  color: #555555;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

header .container .icon-menu nav > ul > li form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30%;
  padding: 30px;
  background: white;
  -webkit-box-shadow: 0 0 8px 4px rgba(204, 204, 204, 0.4);
          box-shadow: 0 0 8px 4px rgba(204, 204, 204, 0.4);
  position: fixed;
  z-index: 2;
  display: none;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

header .container .icon-menu nav > ul > li form input {
  width: 500px;
}

header .container .icon-menu nav > ul > li form input::-webkit-input-placeholder {
  color: #555555;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 3px;
}

header .container .icon-menu nav > ul > li form input:-ms-input-placeholder {
  color: #555555;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 3px;
}

header .container .icon-menu nav > ul > li form input::-ms-input-placeholder {
  color: #555555;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 3px;
}

header .container .icon-menu nav > ul > li form input::placeholder {
  color: #555555;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 3px;
}

header .container .icon-menu nav > ul > li form button i {
  font-size: 18px;
  font-weight: 200;
  color: #555555;
}

header .container .icon-menu nav > ul > li form #close {
  padding-left: 50px;
}

header .container .icon-menu nav > ul > li form #close i {
  color: #57b1ba;
}

header .container .icon-menu nav > ul > li:hover .dropdown-user {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

header .container .icon-menu nav > ul > li .dropdown-user {
  width: 140px;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(40px, 42px);
          transform: translate(40px, 42px);
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  -webkit-box-shadow: 0 0 2px 1px rgba(204, 204, 204, 0.4);
          box-shadow: 0 0 2px 1px rgba(204, 204, 204, 0.4);
  text-align: start;
}

header .container .icon-menu nav > ul > li .dropdown-user ul li {
  background: white;
}

header .container .icon-menu nav > ul > li .dropdown-user ul li a {
  padding: 5px 35px;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  color: #555555;
}

header .container .icon-menu nav > ul > li .dropdown-user ul li a:hover {
  color: #57b1ba;
}
/*# sourceMappingURL=header.css.map */