* {
  margin: 0;
  padding: 0;
  font-family: "Cabin", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.6;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

html, body {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  border: none;
  text-decoration: none;
  background: none;
}

button, input, textarea {
  border: none;
}

button:focus, input:focus, textarea:focus {
  border: none;
  outline: none;
  background: none;
}

*::-moz-selection {
  color: white;
  background: pink;
}

*::selection {
  color: white;
  background: pink;
}

header {
  background: white;
  position: relative;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .logo a {
  padding: 15px;
}

header .container .logo a img {
  width: 100%;
  height: 100%;
}

header .container .main-menu nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .main-menu nav > ul > li a {
  padding: 20px;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 500;
  color: #555555;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

header .container .main-menu nav > ul > li a:last-child {
  padding-right: 0;
}

header .container .main-menu nav > ul > li a.active {
  color: #57b1ba;
}

header .container .main-menu nav > ul > li a:hover {
  color: #57b1ba;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

header .container .icon-menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .icon-menu nav ul li {
  text-align: center;
  cursor: pointer;
}

header .container .icon-menu nav ul li a {
  padding: 25px;
}

header .container .icon-menu nav ul li a:last-child {
  padding-right: 0;
}

header .container .icon-menu nav ul li a.active {
  color: #57b1ba;
}

header .container .icon-menu nav ul li a:hover i {
  color: #57b1ba;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

header .container .icon-menu nav ul li a i {
  font-size: 18px;
  font-weight: 500;
  color: #555555;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

header .container .icon-menu nav ul li .toggle-search {
  position: absolute;
  top: 60%;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 170px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container .icon-menu nav ul li .toggle-search input {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #e7f2f0;
}

header .container .icon-menu nav ul li .toggle-search input::-webkit-input-placeholder {
  text-transform: capitalize;
  color: #555555;
  font-size: 17px;
  padding: 100px;
}

header .container .icon-menu nav ul li .toggle-search input:-ms-input-placeholder {
  text-transform: capitalize;
  color: #555555;
  font-size: 17px;
  padding: 100px;
}

header .container .icon-menu nav ul li .toggle-search input::-ms-input-placeholder {
  text-transform: capitalize;
  color: #555555;
  font-size: 17px;
  padding: 100px;
}

header .container .icon-menu nav ul li .toggle-search input::placeholder {
  text-transform: capitalize;
  color: #555555;
  font-size: 17px;
  padding: 100px;
}

header .container .icon-menu nav ul li .toggle-search input:focus {
  border-bottom: 1px solid #ccc;
}

header .container .icon-menu nav ul li .toggle-search button {
  background: white;
  color: #57b1ba;
  font-size: 17px;
  text-transform: capitalize;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 90%;
}
/*# sourceMappingURL=header.css.map */