@import 'reset';

header {
  background: white;
  //position: fixed;
  
  &::before{
    content: "";
    width: 100%;

    box-shadow: 0 0 2px 1px rgba($color: $secondaryColor, $alpha: 0.03);
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      a {
        padding: 15px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .main-menu {
      nav {
        > ul {
          display: flex;
          justify-content: space-between;
          align-items: center;

          > li {
            a {
              padding: 20px;

              &:last-child {
                padding-right: 0;
              }

              &.active {
                color: $primaryColor;
              }

              &:hover {
                color: $primaryColor;
                transition: all 0.2s ease-in;
              }

              text-transform: capitalize;
              font-size: 14px;
              font-weight: 500;
              color: $secondaryColor;
              transition: all 0.2s ease-in;
            }
          }
        }
      }
    }

    .icon-menu {
      nav {
        ul {
          display: flex;
          justify-content: space-between;
          align-items: center;

          li {
            text-align: center;
            position: relative;

            cursor: pointer;

            a {
              padding: 25px;
              &:last-child {
                padding-right: 0;
              }

              &.active {
                color: $primaryColor;
              }

              i {
                font-size: 18px;
                font-weight: 500;
                color: $secondaryColor;
                transition: all 0.2s ease-in;

                &:hover {
                  color: $primaryColor;
                  transition: all 0.2s ease-in;
                }
              }
            }
          }
        }
      }
    }
  }
}
