@import "reset";

header {
  background: white;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      a {
        padding: 15px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .main-menu {
      nav {
        > ul {
          display: flex;
          justify-content: space-between;
          align-items: center;

          > li {
            position: relative;
            margin-right: 15px;

            &:last-child {
              margin-right: 0;
            }

            a {
              margin-right: 10px;

              &:last-child {
                margin-right: 0;
              }

              &:hover {
                color: $primaryColor;
              }

              &.active {
                color: $primaryColor;
              }

              text-transform: capitalize;
              font-size: 14px;
              font-weight: 500;
              color: $secondaryColor;
            }

            &:hover {
              .dropdown-category{
                visibility: visible;
                opacity: 1;
                transition: all 0.4s linear;
              }
            }

            .dropdown-category{
              visibility: hidden;
              opacity: 0;
              z-index: 2;

              position: absolute;
              top: 50%;
              left: 0;
              transform: translate(-50px,42px);
              transition: all 0.4s linear;

              box-shadow: 0 0 2px 1px rgba($color: #ccc, $alpha: 0.4);

              ul {
                li {
                  width: 200px;
                  background: white;

                  a {
                    padding: 5px 50px;
                    font-size: 14px;
                    font-weight: 600;
                    color: $secondaryColor;

                    &:hover {
                      color: $primaryColor;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .icon-menu {
      nav {
        >ul {
          display: flex;
          justify-content: space-between;
          align-items: center;

          >li {
            margin-right: 10px;

            &:last-child {
              margin-right: 0;
            }

            text-align: center;
            cursor: pointer;

            position: relative;

            a {
              &:last-child {
                padding-right: 0;
              }

              &.active {
                color: $primaryColor;
              }

              &:hover {
                i {
                  color: $primaryColor;
                  transition: all 0.2s ease-in;
                }
              }

              i {
                font-size: 18px;
                padding: 20px;
                font-weight: 400;
                color: $secondaryColor;
                transition: all 0.2s ease-in;
              }
            }

            form {
              position: absolute;
              top: 0;
              left: 0;

              width: 100%;
              height: 30%;
              padding: 30px;
              background: white;

              box-shadow: 0 0 8px 4px rgba($color: #ccc, $alpha: 0.4);
              position: fixed;

              z-index: 2;
              display: none;
              transition: all 0.4s linear;

              input {
                width: 500px;

                &::placeholder {
                  color: $secondaryColor;
                  font-size: 20px;
                  font-weight: 200;
                  letter-spacing: 3px;
                }
              }

              button {
                i {
                  font-size: 18px;
                  font-weight: 200;
                  color: $secondaryColor;
                }
              }

              #close {
                padding-left: 50px;
                i {
                  color: $primaryColor;
                }
              }
            }

            &:hover {
              .dropdown-user{
                visibility: visible;
                opacity: 1;
                transition: all 0.4s linear;
              }
            }

            .dropdown-user {
              visibility: hidden;
              opacity: 0;
              z-index: 2;

              position: absolute;
              top:50%;
              right: 0;
              transform: translateY(42px);
              transition: all 0.4s linear;

              box-shadow: 0 0 2px 1px rgba($color: #ccc, $alpha: 0.4);

              ul {
                li {
                  width: 180px;
                  height: 50px;
                  background: white;

                  a {
                    padding: 5px 50px;
                    font-size: 14px;
                    font-weight: 600;
                    text-transform: capitalize;
                    color: $secondaryColor;

                    &:hover {
                      color: $primaryColor;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
