@import "reset";

header {
  background: white;
  position: relative;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      a {
        padding: 15px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .main-menu {
      nav {
        > ul {
          display: flex;
          justify-content: space-between;
          align-items: center;

          > li {
            a {
              padding: 20px;

              &:last-child {
                padding-right: 0;
              }

              &.active {
                color: $primaryColor;
              }

              &:hover {
                color: $primaryColor;
                transition: all 0.2s ease-in;
              }

              text-transform: capitalize;
              font-size: 14px;
              font-weight: 500;
              color: $secondaryColor;
              transition: all 0.2s ease-in;
            }
          }
        }
      }
    }

    .icon-menu {
      nav {
        ul {
          display: flex;
          justify-content: space-between;
          align-items: center;

          li {
            text-align: center;
            cursor: pointer;

            a {
              padding: 25px;

              &:last-child {
                padding-right: 0;
              }

              &.active {
                color: $primaryColor;
              }

              &:hover {
                i{
                  color: $primaryColor;
                transition: all 0.2s ease-in;
                }
              }

              i {
                font-size: 18px;
                font-weight: 500;
                color: $secondaryColor;
                transition: all 0.2s ease-in;
              }
            }

            // .toggle-search {
            //   position: absolute;
            //   top: 60%;
            //   left: 0;

            //   z-index: 1;

            //   visibility: hidden;
            //   opacity: 0;

            //   width: 100vw;
            //   height: 170px;
            //   box-shadow: 0 0 10px rgba(0,0,0,0.5);
            //   display: flex;

            //   input {
            //     width: 100%;
            //     height: 50px;
            //     border-bottom: 1px solid rgb(231, 242, 240);

            //     &::placeholder {
            //       text-transform: capitalize;
            //       color: $secondaryColor;
            //       font-size: 17px;
            //       padding: 100px;
            //     }

            //     &:focus{
            //       border-bottom: 1px solid #ccc;
            //     }
            //   }

            //   button{
            //     background: white;
            //     color: $primaryColor;
            //     font-size: 17px;
            //     text-transform: capitalize;
            //     width: 50px;
            //     height: 50px;
            //     position: absolute;
            //     left: 90%;
            //   }
            //  }
          }
        }
      }
    }
  }
}
