* {
  margin: 0;
  padding: 0;
  font-family: "Cabin", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.6;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

html, body {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  border: none;
  text-decoration: none;
  background: none;
}

button, input, textarea {
  border: none;
}

button:focus, input:focus, textarea:focus {
  border: none;
  outline: none;
  background: none;
}

*::-moz-selection {
  color: white;
  background: pink;
}

*::selection {
  color: white;
  background: pink;
}

header {
  background: white;
  position: relative;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .logo a {
  padding: 15px;
}

header .container .logo a img {
  width: 100%;
  height: 100%;
}

header .container .main-menu nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .main-menu nav > ul > li a {
  padding: 20px;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 500;
  color: #555555;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

header .container .main-menu nav > ul > li a:last-child {
  padding-right: 0;
}

header .container .main-menu nav > ul > li a.active {
  color: #57b1ba;
}

header .container .main-menu nav > ul > li a:hover {
  color: #57b1ba;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

header .container .icon-menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .icon-menu nav ul li {
  text-align: center;
  cursor: pointer;
}

header .container .icon-menu nav ul li a {
  padding: 25px;
}

header .container .icon-menu nav ul li a:last-child {
  padding-right: 0;
}

header .container .icon-menu nav ul li a.active {
  color: #57b1ba;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(22.5px);
            transform: translateY(22.5px);
  }
  50% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  75% {
    -webkit-transform: translateY(67.5px);
            transform: translateY(67.5px);
  }
  100% {
    -webkit-transform: translateY(90px);
            transform: translateY(90px);
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(22.5px);
            transform: translateY(22.5px);
  }
  50% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  75% {
    -webkit-transform: translateY(67.5px);
            transform: translateY(67.5px);
  }
  100% {
    -webkit-transform: translateY(90px);
            transform: translateY(90px);
  }
}

header .container .icon-menu nav ul li a:focus .search.dropdown-search {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  -webkit-animation: scroll 2s linear;
          animation: scroll 2s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

header .container .icon-menu nav ul li a i {
  font-size: 18px;
  font-weight: 500;
  color: #555555;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

header .container .icon-menu nav ul li a i:hover {
  color: #57b1ba;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

header .container .icon-menu nav ul li .dropdown-search {
  position: absolute;
  top: 0;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}

header .container .icon-menu nav ul li .dropdown-search input {
  width: 100vw;
  height: 90px;
  border-bottom: 1px solid #e7f2f0;
  padding: 30px;
}

header .container .icon-menu nav ul li .dropdown-search input::-webkit-input-placeholder {
  text-transform: capitalize;
  color: #555555;
  font-size: 17px;
}

header .container .icon-menu nav ul li .dropdown-search input:-ms-input-placeholder {
  text-transform: capitalize;
  color: #555555;
  font-size: 17px;
}

header .container .icon-menu nav ul li .dropdown-search input::-ms-input-placeholder {
  text-transform: capitalize;
  color: #555555;
  font-size: 17px;
}

header .container .icon-menu nav ul li .dropdown-search input::placeholder {
  text-transform: capitalize;
  color: #555555;
  font-size: 17px;
}
/*# sourceMappingURL=header.css.map */