@import "reset";
@import "mixin";

.slider {
  .slide-show {
    .child-slide {
      position: relative;
      text-align: center;

      img {
        width: 100vw;
        height: 600px;
      }
    }

    .left {
      @include left-text-slide;
    }

    .center {
      h3 {
        position: absolute;
        right: 50%;
        top: 25%;
        padding-bottom: 50px;
        transform: translate(50%,-25%);
        color: $primaryColor;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 2px;
        text-transform: uppercase;
      }

      h2 {
        position: absolute;
        right: 50%;
        top: 35%;

        transform: translate(50%,-35%);
        color: $secondaryColor;
        font-size: 40px;
        font-weight: 700;
        text-transform: capitalize;
        line-height: 1;
      }
    
      a{
        position: absolute;
        right: 50%;
        top: 60%;
        transform: translate(50%,-60%);
        padding: 10px 35px;
        border-radius: 8px;
        background: $primaryColor;
        color: white;
        font-size: 18px;
        text-transform: capitalize;
        transition: all .4s ease-in;
    
        &:hover {
          background: #33858d;
          transition: all 0.2s ease-in;
        }
      }
    }
    .right {
      @include right-text-slide;
    }

    .owl-nav {
      .owl-prev,
      .owl-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.3s ease-in;

        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.219);

        i {
          font-size: 30px;
          color: $primaryColor;
          transition: all 0.3s ease-in;
        }

        &:hover {
          background: none;
          transition: all 0.3s ease-in;
        }
      }

      .owl-prev {
        left: 10px;
      }

      .owl-next {
        right: 10px;
      }
    }
  }

  .support-shipping {
    padding: 20px;
    position: relative;

    &::before {
      content: "";
      width: 100%;

      //border-bottom: 1px solid $secondaryColor;
      box-shadow: 0 0 0 1px rgba($color: $secondaryColor, $alpha: 0.03);
      position: absolute;
      left: 0;
      bottom: 0;
    }

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .shipping {
        display: flex;

        .support-shipping-description {
          padding: 10px;

          p {
            text-transform: capitalize;
            font-size: 14px;
            color: rgb(128, 140, 141);

            strong {
              color: $secondaryColor;
            }
          }
        }
      }
    }
  }
}

.difference {
  .tittle-center {
    @include tittle-center;
  }

  .support-block {
    .container {
      text-align: center;

      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
          .section-box {
            padding: 20px 15px;
            text-align: center;

            @include section-box(true);
          }
        }
      }
    }
  }
}

.face-mark {
  .tittle-center {
    @include tittle-center;
  }

  .support-face-mark {
    .container {
      display: flex;
      justify-content: center;
      align-items: center;

      .support-face-mark-left {
        text-align: center;

        .section-box {
          padding: 0 20px 30px;
          @include section-box(false);
        }
      }

      .support-face-mark-center {
        img {
          max-width: 100%;
          width: 100%;
          height: 100%;
        }
      }

      .support-face-mark-right {
        text-align: center;

        .section-box {
          padding: 20px;
          @include section-box(false);
        }
      }
    }
  }
}

.equipment {
  margin-bottom: 30px;

  .tittle-center {
    @include tittle-center;
  }

  .support-equipment {
    .container {
      display: flex;
      justify-content: space-between;

      .support-equipment-left {
        flex-basis: 50%;
        padding-right: 20px;

        .section-box {
          @include section-box(false);
        }
      }

      .support-equipment-right {
        flex-basis: 50%;

        .section-box {
          @include section-box(false);
        }
      }
    }
  }
}

.back-to-top {
  position: relative;

  a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $primaryColor;
    position: fixed;
    bottom: 20px;
    right: 20px;

    &::before {
      content: "";
      width: 10px;
      height: 10px;

      border-top: 2px solid white;
      border-left: 2px solid white;

      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%) rotate(45deg);
    }

    &:hover {
      background: #33858d;
      transition: all 0.2s ease-in;
    }
  }
}
