* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.6;
}

html, body {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  border: none;
  text-decoration: none;
  background: none;
}

button, input {
  border: none;
}

button:focus, input:focus {
  border: none;
  outline: none;
  background: none;
}

*::-moz-selection {
  color: white;
  background: pink;
}

*::selection {
  color: white;
  background: pink;
}

* {
  font-family: "Cabin", sans-serif;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.slider .slide-show .item img {
  max-width: 100%;
  width: 100%;
}

.slider .support-shipping {
  padding: 20px;
  background: rgba(206, 199, 199, 0.253);
}

.slider .support-shipping .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider .support-shipping .container .shipping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider .support-shipping .container .shipping .support-shipping-description {
  padding: 10px;
}

.slider .support-shipping .container .shipping .support-shipping-description p {
  text-transform: capitalize;
  font-size: 14px;
  color: #808c8d;
}

.slider .support-shipping .container .shipping .support-shipping-description p strong {
  color: #555555;
}

.difference .tittle-center {
  padding: 50px 0;
  text-align: center;
}

.difference .tittle-center h2 {
  color: #57b1ba;
  font-size: 30px;
  padding-bottom: 15px;
}

.difference .tittle-center h2::first-letter {
  text-transform: capitalize;
}

.difference .tittle-center p {
  color: #808c8d;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.difference .support-block .container {
  text-align: center;
}

.difference .support-block .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.difference .support-block .container ul li .section-box {
  padding: 20px 15px;
  text-align: center;
}

.difference .support-block .container ul li .section-box img {
  max-width: 100%;
  border: 20px solid rgba(206, 199, 199, 0.253);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  border-radius: 50%;
}

.difference .support-block .container ul li .section-box img:hover {
  background: #57b1ba;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.difference .support-block .container ul li .section-box .description h3 {
  font-size: 20px;
  font-weight: 700;
  color: #555555;
}

.difference .support-block .container ul li .section-box .description h3::first-letter {
  text-transform: capitalize;
}

.difference .support-block .container ul li .section-box .description p {
  color: #555555;
  font-weight: 600;
}

.face-mark .tittle-center {
  padding: 50px 0;
  text-align: center;
}

.face-mark .tittle-center h2 {
  color: #57b1ba;
  font-size: 30px;
  padding-bottom: 15px;
}

.face-mark .tittle-center h2::first-letter {
  text-transform: capitalize;
}

.face-mark .tittle-center p {
  color: #808c8d;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.face-mark .support-face-mark .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.face-mark .support-face-mark .container .support-face-mark-left {
  text-align: center;
}

.face-mark .support-face-mark .container .support-face-mark-left .section-box {
  padding: 0 20px 30px;
}

.face-mark .support-face-mark .container .support-face-mark-left .section-box img {
  max-width: 100%;
  border: none;
}

.face-mark .support-face-mark .container .support-face-mark-left .section-box .description h3 {
  font-size: 20px;
  font-weight: 700;
  color: #555555;
}

.face-mark .support-face-mark .container .support-face-mark-left .section-box .description h3::first-letter {
  text-transform: capitalize;
}

.face-mark .support-face-mark .container .support-face-mark-left .section-box .description p {
  color: #555555;
  font-weight: 600;
}

.face-mark .support-face-mark .container .support-face-mark-center img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.face-mark .support-face-mark .container .support-face-mark-right {
  text-align: center;
}

.face-mark .support-face-mark .container .support-face-mark-right .section-box {
  padding: 20px;
}

.face-mark .support-face-mark .container .support-face-mark-right .section-box img {
  max-width: 100%;
  border: none;
}

.face-mark .support-face-mark .container .support-face-mark-right .section-box .description h3 {
  font-size: 20px;
  font-weight: 700;
  color: #555555;
}

.face-mark .support-face-mark .container .support-face-mark-right .section-box .description h3::first-letter {
  text-transform: capitalize;
}

.face-mark .support-face-mark .container .support-face-mark-right .section-box .description p {
  color: #555555;
  font-weight: 600;
}

.equipment {
  margin-bottom: 30px;
}

.equipment .tittle-center {
  padding: 50px 0;
  text-align: center;
}

.equipment .tittle-center h2 {
  color: #57b1ba;
  font-size: 30px;
  padding-bottom: 15px;
}

.equipment .tittle-center h2::first-letter {
  text-transform: capitalize;
}

.equipment .tittle-center p {
  color: #808c8d;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.equipment .support-equipment .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.equipment .support-equipment .container .support-equipment-left {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.equipment .support-equipment .container .support-equipment-left .section-box img {
  max-width: 100%;
  border: none;
}

.equipment .support-equipment .container .support-equipment-left .section-box .description h3 {
  font-size: 20px;
  font-weight: 700;
  color: #555555;
}

.equipment .support-equipment .container .support-equipment-left .section-box .description h3::first-letter {
  text-transform: capitalize;
}

.equipment .support-equipment .container .support-equipment-left .section-box .description p {
  color: #555555;
  font-weight: 600;
}

.equipment .support-equipment .container .support-equipment-right {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.equipment .support-equipment .container .support-equipment-right .section-box img {
  max-width: 100%;
  border: none;
}

.equipment .support-equipment .container .support-equipment-right .section-box .description h3 {
  font-size: 20px;
  font-weight: 700;
  color: #555555;
}

.equipment .support-equipment .container .support-equipment-right .section-box .description h3::first-letter {
  text-transform: capitalize;
}

.equipment .support-equipment .container .support-equipment-right .section-box .description p {
  color: #555555;
  font-weight: 600;
}

.back-to-top {
  position: relative;
}

.back-to-top a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #57b1ba;
  position: fixed;
  bottom: 20px;
  right: 2px;
}

.back-to-top a::before {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%) rotate(45deg);
          transform: translate(50%, -50%) rotate(45deg);
}
/*# sourceMappingURL=home.css.map */