* {
  margin: 0;
  padding: 0;
  font-family: "Cabin", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.6;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

html,
body {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  border: none;
  text-decoration: none;
  background: none;
}

button,
input,
textarea {
  border: none;
  background: none;
}

button:focus,
input:focus,
textarea:focus {
  border: none;
  outline: none;
  background: none;
}

*::-moz-selection {
  color: white;
  background: #006eff;
}

*::selection {
  color: white;
  background: #006eff;
}

.slider {
  z-index: -1;
}

.slider .slide-show .child-slide {
  position: relative;
  text-align: center;
}

.slider .slide-show .child-slide img {
  width: 100%;
  height: 600px;
}

@-webkit-keyframes translate-h3 {
  0% {
    left: 0;
    top: 25%;
  }
  50% {
    left: 10%;
    top: 25%;
  }
  100% {
    left: 20%;
    top: 25%;
  }
}

@keyframes translate-h3 {
  0% {
    left: 0;
    top: 25%;
  }
  50% {
    left: 10%;
    top: 25%;
  }
  100% {
    left: 20%;
    top: 25%;
  }
}

@-webkit-keyframes translate-h2 {
  0% {
    left: 0;
    top: 35%;
  }
  50% {
    left: 18%;
    top: 35%;
  }
  100% {
    left: 16%;
    top: 35%;
  }
}

@keyframes translate-h2 {
  0% {
    left: 0;
    top: 35%;
  }
  50% {
    left: 18%;
    top: 35%;
  }
  100% {
    left: 16%;
    top: 35%;
  }
}

@-webkit-keyframes translate-a {
  0% {
    left: 0;
    top: 60%;
  }
  50% {
    left: 10%;
    top: 60%;
  }
  100% {
    left: 20%;
    top: 60%;
  }
}

@keyframes translate-a {
  0% {
    left: 0;
    top: 60%;
  }
  50% {
    left: 10%;
    top: 60%;
  }
  100% {
    left: 20%;
    top: 60%;
  }
}

.slider .slide-show .left h3 {
  position: absolute;
  color: #57b1ba;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-animation: translate-h3 1s linear;
          animation: translate-h3 1s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slider .slide-show .left h2 {
  position: absolute;
  color: #555555;
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1;
  -webkit-animation: translate-h2 1.2s linear;
          animation: translate-h2 1.2s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slider .slide-show .left a {
  position: absolute;
  padding: 10px 35px;
  border-radius: 8px;
  background: #57b1ba;
  color: white;
  font-size: 18px;
  text-transform: capitalize;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
  -webkit-animation: translate-a 1s linear;
          animation: translate-a 1s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slider .slide-show .left a:hover {
  background: #33858d;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.slider .slide-show .center h3 {
  position: absolute;
  right: 50%;
  top: 25%;
  padding-bottom: 50px;
  -webkit-transform: translate(50%, -25%);
          transform: translate(50%, -25%);
  color: #57b1ba;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.slider .slide-show .center h2 {
  position: absolute;
  right: 50%;
  top: 35%;
  -webkit-transform: translate(50%, -35%);
          transform: translate(50%, -35%);
  color: #555555;
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1;
}

.slider .slide-show .center a {
  position: absolute;
  right: 50%;
  top: 60%;
  -webkit-transform: translate(50%, -60%);
          transform: translate(50%, -60%);
  padding: 10px 35px;
  border-radius: 8px;
  background: #57b1ba;
  color: white;
  font-size: 18px;
  text-transform: capitalize;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.slider .slide-show .center a:hover {
  background: #33858d;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

@-webkit-keyframes translate-right-h3 {
  0% {
    right: 0;
    top: 25%;
  }
  50% {
    right: 10%;
    top: 25%;
  }
  100% {
    right: 20%;
    top: 25%;
  }
}

@keyframes translate-right-h3 {
  0% {
    right: 0;
    top: 25%;
  }
  50% {
    right: 10%;
    top: 25%;
  }
  100% {
    right: 20%;
    top: 25%;
  }
}

@-webkit-keyframes translate-right-h2 {
  0% {
    right: 0;
    top: 35%;
  }
  50% {
    right: 15%;
    top: 35%;
  }
  100% {
    right: 12%;
    top: 35%;
  }
}

@keyframes translate-right-h2 {
  0% {
    right: 0;
    top: 35%;
  }
  50% {
    right: 15%;
    top: 35%;
  }
  100% {
    right: 12%;
    top: 35%;
  }
}

@-webkit-keyframes translate-right-a {
  0% {
    right: 0;
    top: 60%;
  }
  50% {
    right: 5%;
    top: 60%;
  }
  100% {
    right: 17%;
    top: 60%;
  }
}

@keyframes translate-right-a {
  0% {
    right: 0;
    top: 60%;
  }
  50% {
    right: 5%;
    top: 60%;
  }
  100% {
    right: 17%;
    top: 60%;
  }
}

.slider .slide-show .right h3 {
  position: absolute;
  color: #57b1ba;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-animation: translate-right-h3 1s linear;
          animation: translate-right-h3 1s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slider .slide-show .right h2 {
  position: absolute;
  color: #555555;
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1;
  -webkit-animation: translate-right-h2 1.2s linear;
          animation: translate-right-h2 1.2s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slider .slide-show .right a {
  position: absolute;
  padding: 10px 35px;
  border-radius: 8px;
  background: #57b1ba;
  color: white;
  font-size: 18px;
  text-transform: capitalize;
  -webkit-animation: translate-right-a 1s linear;
          animation: translate-right-a 1s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slider .slide-show .right a:hover {
  background: #33858d;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.slider .slide-show .owl-nav .owl-prev,
.slider .slide-show .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.219);
}

.slider .slide-show .owl-nav .owl-prev i,
.slider .slide-show .owl-nav .owl-next i {
  font-size: 30px;
  font-weight: 300;
  color: #57b1ba;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.slider .slide-show .owl-nav .owl-prev:hover,
.slider .slide-show .owl-nav .owl-next:hover {
  background: none;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.slider .slide-show .owl-nav .owl-prev {
  left: 10px;
}

.slider .slide-show .owl-nav .owl-next {
  right: 10px;
}

.slider .support-shipping {
  padding: 20px;
  position: relative;
}

.slider .support-shipping::before {
  content: "";
  width: 100%;
  -webkit-box-shadow: 0 0 0 1px rgba(85, 85, 85, 0.03);
          box-shadow: 0 0 0 1px rgba(85, 85, 85, 0.03);
  position: absolute;
  left: 0;
  bottom: 0;
}

.slider .support-shipping .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider .support-shipping .container .shipping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider .support-shipping .container .shipping .support-shipping-description {
  padding: 10px;
}

.slider .support-shipping .container .shipping .support-shipping-description p {
  text-transform: capitalize;
  font-size: 14px;
  color: #808c8d;
}

.slider .support-shipping .container .shipping .support-shipping-description p strong {
  color: #555555;
}

.difference .tittle-center {
  padding: 50px 0;
  text-align: center;
}

.difference .tittle-center h2 {
  color: #57b1ba;
  font-size: 30px;
  padding-bottom: 15px;
}

.difference .tittle-center h2::first-letter {
  text-transform: capitalize;
}

.difference .tittle-center p {
  color: #808c8d;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.difference .tittle-center h1 {
  padding: 10px 50px;
  color: #57b1ba;
  font-size: 50px;
  letter-spacing: 2px;
}

.difference .tittle-center h1::first-letter {
  text-transform: capitalize;
}

.difference .support-block .container {
  text-align: center;
}

.difference .support-block .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.difference .support-block .container ul li .section-box {
  padding: 20px 15px;
  text-align: center;
}

.difference .support-block .container ul li .section-box img {
  max-width: 100%;
  border: 20px solid rgba(206, 199, 199, 0.253);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  border-radius: 50%;
}

.difference .support-block .container ul li .section-box img:hover {
  background: #57b1ba;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.difference .support-block .container ul li .section-box .description h3 {
  padding-top: 15px;
  font-size: 20px;
  font-weight: 700;
  color: #555555;
}

.difference .support-block .container ul li .section-box .description h3::first-letter {
  text-transform: capitalize;
}

.difference .support-block .container ul li .section-box .description p {
  color: #555555;
  font-weight: 600;
}

.slide-list .tittle-center {
  padding: 50px 0;
  text-align: center;
}

.slide-list .tittle-center h2 {
  color: #57b1ba;
  font-size: 30px;
  padding-bottom: 15px;
}

.slide-list .tittle-center h2::first-letter {
  text-transform: capitalize;
}

.slide-list .tittle-center p {
  color: #808c8d;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.slide-list .tittle-center h1 {
  padding: 10px 50px;
  color: #57b1ba;
  font-size: 50px;
  letter-spacing: 2px;
}

.slide-list .tittle-center h1::first-letter {
  text-transform: capitalize;
}

.slide-list .slide2 a {
  position: relative;
}

.slide-list .slide2 a img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.slide-list .slide2 .owl-nav .owl-prev,
.slide-list .slide2 .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #57b1ba;
}

.slide-list .slide2 .owl-nav .owl-prev i,
.slide-list .slide2 .owl-nav .owl-next i {
  font-size: 15px;
  font-weight: 600;
  color: gray;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.slide-list .slide2 .owl-nav .owl-prev:hover,
.slide-list .slide2 .owl-nav .owl-next:hover {
  background: none;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.slide-list .slide2 .owl-nav .owl-prev {
  left: 10px;
}

.slide-list .slide2 .owl-nav .owl-next {
  right: 10px;
}

.face-mark .tittle-center {
  padding: 50px 0;
  text-align: center;
}

.face-mark .tittle-center h2 {
  color: #57b1ba;
  font-size: 30px;
  padding-bottom: 15px;
}

.face-mark .tittle-center h2::first-letter {
  text-transform: capitalize;
}

.face-mark .tittle-center p {
  color: #808c8d;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.face-mark .tittle-center h1 {
  padding: 10px 50px;
  color: #57b1ba;
  font-size: 50px;
  letter-spacing: 2px;
}

.face-mark .tittle-center h1::first-letter {
  text-transform: capitalize;
}

.face-mark .support-face-mark .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.face-mark .support-face-mark .container .support-face-mark-left {
  text-align: center;
}

.face-mark .support-face-mark .container .support-face-mark-left .section-box {
  padding: 0 20px 30px;
}

.face-mark .support-face-mark .container .support-face-mark-left .section-box img {
  max-width: 100%;
  border: none;
}

.face-mark .support-face-mark .container .support-face-mark-left .section-box .description h3 {
  padding-top: 15px;
  font-size: 20px;
  font-weight: 700;
  color: #555555;
}

.face-mark .support-face-mark .container .support-face-mark-left .section-box .description h3::first-letter {
  text-transform: capitalize;
}

.face-mark .support-face-mark .container .support-face-mark-left .section-box .description p {
  color: #555555;
  font-weight: 600;
}

.face-mark .support-face-mark .container .support-face-mark-center img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.face-mark .support-face-mark .container .support-face-mark-right {
  text-align: center;
}

.face-mark .support-face-mark .container .support-face-mark-right .section-box {
  padding: 20px;
}

.face-mark .support-face-mark .container .support-face-mark-right .section-box img {
  max-width: 100%;
  border: none;
}

.face-mark .support-face-mark .container .support-face-mark-right .section-box .description h3 {
  padding-top: 15px;
  font-size: 20px;
  font-weight: 700;
  color: #555555;
}

.face-mark .support-face-mark .container .support-face-mark-right .section-box .description h3::first-letter {
  text-transform: capitalize;
}

.face-mark .support-face-mark .container .support-face-mark-right .section-box .description p {
  color: #555555;
  font-weight: 600;
}

.sectionX {
  margin: 100px 0;
  text-align: center;
  background-image: url("https://cdn.shopify.com/s/files/1/0396/3509/1612/files/bg_245480c5-1f59-42ff-8491-923d2f6e428b_1920X.jpg?v=1591594397");
  background-attachment: fixed;
  height: 450px;
}

.sectionX .tittle-center {
  padding: 50px 0;
  text-align: center;
}

.sectionX .tittle-center h2 {
  color: #57b1ba;
  font-size: 30px;
  padding-bottom: 15px;
}

.sectionX .tittle-center h2::first-letter {
  text-transform: capitalize;
}

.sectionX .tittle-center p {
  color: #808c8d;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.sectionX .tittle-center h1 {
  padding: 10px 50px;
  color: #57b1ba;
  font-size: 50px;
  letter-spacing: 2px;
}

.sectionX .tittle-center h1::first-letter {
  text-transform: capitalize;
}

.sectionX .btn {
  margin-bottom: 50px;
}

.sectionX .btn a {
  padding: 8px 30px;
  background: #57b1ba;
  color: white;
  font-size: 18px;
  text-transform: capitalize;
  border-radius: 4px;
}

.equipment {
  margin-bottom: 30px;
}

.equipment .tittle-center {
  padding: 50px 0;
  text-align: center;
}

.equipment .tittle-center h2 {
  color: #57b1ba;
  font-size: 30px;
  padding-bottom: 15px;
}

.equipment .tittle-center h2::first-letter {
  text-transform: capitalize;
}

.equipment .tittle-center p {
  color: #808c8d;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.equipment .tittle-center h1 {
  padding: 10px 50px;
  color: #57b1ba;
  font-size: 50px;
  letter-spacing: 2px;
}

.equipment .tittle-center h1::first-letter {
  text-transform: capitalize;
}

.equipment .support-equipment .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.equipment .support-equipment .container .support-equipment-left {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-right: 20px;
}

.equipment .support-equipment .container .support-equipment-left .section-box img {
  max-width: 100%;
  border: none;
}

.equipment .support-equipment .container .support-equipment-left .section-box .description h3 {
  padding-top: 15px;
  font-size: 20px;
  font-weight: 700;
  color: #555555;
}

.equipment .support-equipment .container .support-equipment-left .section-box .description h3::first-letter {
  text-transform: capitalize;
}

.equipment .support-equipment .container .support-equipment-left .section-box .description p {
  color: #555555;
  font-weight: 600;
}

.equipment .support-equipment .container .support-equipment-right {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.equipment .support-equipment .container .support-equipment-right .section-box img {
  max-width: 100%;
  border: none;
}

.equipment .support-equipment .container .support-equipment-right .section-box .description h3 {
  padding-top: 15px;
  font-size: 20px;
  font-weight: 700;
  color: #555555;
}

.equipment .support-equipment .container .support-equipment-right .section-box .description h3::first-letter {
  text-transform: capitalize;
}

.equipment .support-equipment .container .support-equipment-right .section-box .description p {
  color: #555555;
  font-weight: 600;
}

.back-to-top {
  position: relative;
}

.back-to-top a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #57b1ba;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.back-to-top a::before {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%) rotate(45deg);
          transform: translate(50%, -50%) rotate(45deg);
}

.back-to-top a:hover {
  background: #33858d;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/*# sourceMappingURL=home.css.map */