@import "reset";
@import "mixin";

* {
  font-family: "Cabin", sans-serif;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

header {
  width: 100vw;
  background: white;
  position: fixed;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      a {
        padding: 15px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .main-menu {
      nav {
        > ul {
          display: flex;
          justify-content: space-between;
          align-items: center;

          > li {
            a {
              padding: 20px;

              &:last-child {
                padding-right: 0;
              }

              &.active {
                color: $primaryColor;
              }

              &:hover {
                color: $primaryColor;
                transition: all 0.2s ease-in;
              }

              text-transform: capitalize;
              font-size: 14px;
              font-weight: 500;
              color: $secondaryColor;
              transition: all 0.2s ease-in;
            }
          }
        }
      }
    }

    .icon-menu {
      nav {
        ul {
          display: flex;
          justify-content: space-between;
          align-items: center;

          li {
            text-align: center;
            position: relative;

            cursor: pointer;

            a {
              padding: 25px;
              &:last-child {
                padding-right: 0;
              }

              &.active {
                color: $primaryColor;
              }

              i {
                font-size: 18px;
                font-weight: 500;
                color: $secondaryColor;
                transition: all 0.2s ease-in;

                &:hover {
                  color: $primaryColor;
                  transition: all 0.2s ease-in;
                }
              }
            }
          }
        }
      }
    }
  }
}

.slide-show {
  .item{
    img{
      width: 100%;
      height: 70%;
    }
    
  }
}

footer {
  background: #f7f8fa;
  .footer-top {
    padding: 50px 0;

    .container {
      text-align: center;
      position: relative;

      .footer-top-description {
        h4 {
          text-transform: uppercase;
          font-size: 20px;
          font-weight: 600;
          color: $primaryColor;
          margin-bottom: 40px;
        }

        p {
          width: 550px;
          margin: 20px auto 0;
          font-size: 14px;
          font-weight: 500;
          color: $secondaryColor;
        }
      }

      .footer-top-input-box {
        padding-top: 30px;

        input {
          width: 650px;
          height: 40px;
          padding-left: 20px;
          border-radius: 8px;

          &::placeholder {
            text-align: start;
          }

          &:focus {
            border: 1px solid $primaryColor;
          }
        }

        button {
          cursor: pointer;
          width: 50px;
          height: 40px;

          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;

          background: $primaryColor;
          transform: translateX(-52px);

          text-transform: uppercase;
          font-size: 14px;
          color: white;

          &:hover {
            background: $secondaryColor;
          }
        }
      }

      .footer-top-contact-us {
        padding-top: 20px;

        a {
          font-size: 16px;
          font-weight: 600;
          color: $secondaryColor;
          padding: 10px;

          &:last-child {
            padding-right: 0;
          }

          &:hover {
            color: rgb(160, 156, 156);
            transition: all 0.4s ease;
          }
        }
      }
    }
  }

  .footer-bottom {
    .container {
      .logo {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          img {
            width: 80%;
            height: 80%;
          }
        }

        p {
          text-transform: capitalize;
          font-size: 14px;
          font-weight: 400;
          color: $secondaryColor;
        }
      }
    }
  }
}

.back-to-top {
  position: relative;

  a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $primaryColor;
    position: fixed;
    bottom: 20px;
    right: 2px;

    &::before {
      content: "";
      width: 10px;
      height: 10px;

      border-top: 2px solid white;
      border-left: 2px solid white;

      position: absolute;
      top: 50%;
      right:50%;
      transform: translate(50%,-50%) rotate(45deg);
    }
  }
}
