* {
  margin: 0;
  padding: 0;
}

html, body {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  border: none;
  text-decoration: none;
  background: none;
}

button, input {
  border: none;
}

button:focus, input:focus {
  border: none;
  outline: none;
  background: none;
}

*::-moz-selection {
  color: white;
  background: pink;
}

*::selection {
  color: white;
  background: pink;
}

* {
  font-family: "Cabin", sans-serif;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.slider .slide-show .item img {
  max-width: 100%;
  width: 100%;
}

.slider .support-shipping {
  padding: 20px;
  background: rgba(206, 199, 199, 0.253);
}

.slider .support-shipping .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider .support-shipping .container .shipping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider .support-shipping .container .shipping .support-shipping-description {
  padding: 10px;
}

.slider .support-shipping .container .shipping .support-shipping-description p {
  text-transform: capitalize;
  font-size: 14px;
  color: #808c8d;
}

.slider .support-shipping .container .shipping .support-shipping-description p strong {
  color: #555555;
}

.difference .tittle {
  padding: 50px 0;
  text-align: center;
}

.difference .tittle h2 {
  color: #57b1ba;
  font-size: 30px;
  padding-bottom: 15px;
}

.difference .tittle h2::first-letter {
  text-transform: capitalize;
}

.difference .tittle p {
  color: #808c8d;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.difference .support-block .container {
  text-align: center;
}

.difference .support-block .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.difference .support-block .container ul li {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

.difference .support-block .container ul li .support-block-section {
  width: 200px;
  height: 300px;
  padding: 20px;
}

.difference .support-block .container ul li .support-block-section .image-box img {
  border: 20px solid #808c8d;
  border-radius: 50%;
}

.back-to-top {
  position: relative;
}

.back-to-top a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #57b1ba;
  position: fixed;
  bottom: 20px;
  right: 2px;
}

.back-to-top a::before {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%) rotate(45deg);
          transform: translate(50%, -50%) rotate(45deg);
}
/*# sourceMappingURL=home.css.map */