@import "reset";

.list-products {
  margin-top: 50px;

  .container {
    text-align: center;

    ul {
      display: flex;
      flex-wrap: wrap;

      &::after {
        clear: both;
        display: block;
        content: "";
      }

      li {
        display: none;

        overflow: hidden;
        flex-basis: 24%;
        text-align: center;
        margin-right: 14.667px;
        margin-bottom: 20px;

        &:nth-child(4n) {
          margin-right: 0;
        }

        transition: all 0.3s ease-in;

        &:hover {
          .product-box {
            .product-detail {
              transform: translateY(-20px);
              transition: all 0.3s ease-in;

              .add-to-cart {
                transform: translateY(-10px);

                visibility: visible;
                opacity: 1;
                z-index: 1;

                transition: all 0.3s ease-in;
              }
            }
          }
        }

        .product-box {
          border: 1px solid rgb(231, 242, 240);

          .product-image {
            a{
              img {
                max-width: 100%;
                width: 100%;
                height: 100%;
              }
            }
          }

          .product-detail {
            //background: rgb(231, 242, 240);
            padding: 15px 30px;

            .name {
              a {
                color: $secondaryColor;
                text-transform: capitalize;
                font-size: 18px;
              }
            }

            .price {
              p {
                span {
                  font-size: 12px;
                  text-decoration: underline;
                }

                font-weight: 600;
                color: $primaryColor;
              }
            }

            .add-to-cart {
              visibility: hidden;
              opacity: 0;
              transition: all 0.3s ease-in;

              a {
                color: white;
                text-transform: capitalize;
                background: $primaryColor;
                padding: 10px;
                border-radius: 12px;

                transform: translateY(17px);
                transition: all 0.3s ease-in;
              }

              z-index: -1;
            }
          }
        }
      }
    }

    .button-load {
      display: flex;
      justify-content: center;
      align-items: center;

      .show-more {
        display: block;

        margin-right: 20px;

        &:last-child{
          margin-right: 0;
        }

        a {
          i {
            font-size: 30px;
            font-weight: 200;
            color: $primaryColor;
          }
        }
      }
    }
  }
}

.back-to-top {
  position: relative;

  a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $primaryColor;
    position: fixed;
    bottom: 20px;
    right: 20px;

    &::before {
      content: "";
      width: 10px;
      height: 10px;

      border-top: 2px solid white;
      border-left: 2px solid white;

      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%) rotate(45deg);
    }
  }
}
