@import "reset";

.list-products {
  margin-top: 50px;

  .container {
    text-align: center;
    position: relative;

    ul#myList {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 50px;

      li {
        flex-basis: 24%;
        text-align: center;
        transition: all 0.3s ease-in;

        &:hover {
          .product-box {
            .product-detail {
              transform: translateY(-20px);
              transition: all 0.3s ease-in;

              .add-to-cart {
                transform: translateY(-10px);

                visibility: visible;
                opacity: 1;
                z-index: 1;

                transition: all 0.3s ease-in;
              }
            }
          }
        }

        .product-box {
          border: 1px solid rgb(231, 242, 240);

          .product-image {
            a {
              img {
                max-width: 100%;
                width: 100%;
                height: 100%;
                transform: scale(0.9);
                transition: all 0.2s ease-in;

                &:hover {
                  transform: scale(1);
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }

          .product-detail {
            padding: 15px 30px;

            .name {
              a {
                color: $secondaryColor;
                text-transform: capitalize;
                font-size: 18px;
              }
            }

            .price {
              p {
                span {
                  font-size: 12px;
                  text-decoration: underline;
                }

                font-weight: 600;
                color: $primaryColor;
              }
            }

            .add-to-cart {
              visibility: hidden;
              opacity: 0;
              transition: all 0.3s ease-in;

              a {
                color: white;
                text-transform: capitalize;
                background: $primaryColor;
                padding: 10px;
                border-radius: 12px;

                transform: translateY(17px);
                transition: all 0.3s ease-in;

                &:hover {
                  background: #33858d;
                  transition: all 0.2s ease-in;
                }
              }

              z-index: -1;
            }
          }
        }
      }
    }

    .btn-loadMore-product {
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translate(-50%, 50%);

      ul {
        padding-top: 50px;
        display: flex;

        li {
            margin-right: 10px;
            border: 1px solid black;

            &:last-child {
              margin-right: 0;
              border: none;
            }

          a {
            width: 30px;
            height: 30px;
            color: $secondaryColor;
            font-size: 17px;

            &.active {
              background: #000;
              color: white;
            }
          }
        }
      }
    }
  }
}

.back-to-top {
  position: relative;

  a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $primaryColor;
    position: fixed;
    bottom: 20px;
    right: 20px;

    &:hover {
      background: #33858d;
      transition: all 0.2s ease-in;
    }

    &::before {
      content: "";
      width: 10px;
      height: 10px;

      border-top: 2px solid white;
      border-left: 2px solid white;

      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%) rotate(45deg);
    }
  }
}
