* {
  margin: 0;
  padding: 0;
  font-family: "Cabin", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.6;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

html, body {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  border: none;
  text-decoration: none;
  background: none;
}

button, input {
  border: none;
}

button:focus, input:focus {
  border: none;
  outline: none;
  background: none;
}

*::-moz-selection {
  color: white;
  background: pink;
}

*::selection {
  color: white;
  background: pink;
}

.list-products {
  margin-top: 50px;
}

.list-products .container {
  text-align: center;
}

.list-products .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.list-products .container ul::after {
  clear: both;
  display: block;
  content: "";
}

.list-products .container ul li {
  display: none;
  overflow: hidden;
  -ms-flex-preferred-size: 24%;
      flex-basis: 24%;
  text-align: center;
  margin-right: 14.667px;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.list-products .container ul li:nth-child(4n) {
  margin-right: 0;
}

.list-products .container ul li:hover .product-box .product-detail {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.list-products .container ul li:hover .product-box .product-detail .add-to-cart {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  visibility: visible;
  opacity: 1;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.list-products .container ul li .product-box {
  border: 1px solid #e7f2f0;
}

.list-products .container ul li .product-box .product-image a img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.list-products .container ul li .product-box .product-detail {
  padding: 15px 30px;
}

.list-products .container ul li .product-box .product-detail .name a {
  color: #555555;
  text-transform: capitalize;
  font-size: 18px;
}

.list-products .container ul li .product-box .product-detail .price p {
  font-weight: 600;
  color: #57b1ba;
}

.list-products .container ul li .product-box .product-detail .price p span {
  font-size: 12px;
  text-decoration: underline;
}

.list-products .container ul li .product-box .product-detail .add-to-cart {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  z-index: -1;
}

.list-products .container ul li .product-box .product-detail .add-to-cart a {
  color: white;
  text-transform: capitalize;
  background: #57b1ba;
  padding: 10px;
  border-radius: 12px;
  -webkit-transform: translateY(17px);
          transform: translateY(17px);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.list-products .container .button-load {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-products .container .button-load .show-more {
  display: block;
  margin-right: 20px;
}

.list-products .container .button-load .show-more:last-child {
  margin-right: 0;
}

.list-products .container .button-load .show-more a i {
  font-size: 30px;
  font-weight: 200;
  color: #57b1ba;
}

.back-to-top {
  position: relative;
}

.back-to-top a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #57b1ba;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.back-to-top a::before {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%) rotate(45deg);
          transform: translate(50%, -50%) rotate(45deg);
}
/*# sourceMappingURL=shop.css.map */