header{
    .container{
        .main-menu{
            nav{
                ul{
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    li{
                        background: #000;
                        margin-left: 50px;

                        a{
                            display: inline-block;
                            padding: 20px;
                            color: white;

                            &.active{
                                color: aqua;
                            }
                        }
                    }
                }
            }
        }
    }
}